In [5]:
import pandas as pd
import sqlalchemy

In [22]:
from sqlalchemy import create_engine

from sqlalchemy.orm import declarative_base
from sqlalchemy import Column, Integer, String,Float,DateTime,ForeignKey

In [7]:
username=input("username")
password=input("password")
ip_address="aws-mysql-ssaca.cssuvkukhmkq.us-east-2.rds.amazonaws.com"
port_id="3306"
database_name="test_database"

In [17]:
engine = create_engine(f'mysql+pymysql://{username}:{password}@{ip_address}:{port_id}/{database_name}')
connection=engine.connect()

NameError: name 'declarative_base' is not defined

In [23]:
Base = declarative_base()

In [24]:
class Date(Base):
    __tablename__='Date'

    Date_id=Column(Integer,autoincrement=True,primary_key=True)
    Date=Column(DateTime)
    Inflation=Column(Float)
    GDP=Column(Float)
    Metal_Price=Column(Float)
    NASDAQ=Column(Float)

In [26]:
class Price(Base):
    __tablename__='Price'
    id=Column(Integer,autoincrement=True,primary_key=True)
    Date_id=Column(Integer,ForeignKey('Date.Date_id'))
    Area_Code=Column(String)
    Total_Condo_Sold_Number=Column(Integer)
    Avg_Price=Column(Float)
    Med_Price=Column(Integer)

<ipython-input-26-1706c26d23f6>:1: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Price, and will be replaced in the string-lookup table.
  class Price(Base):

InvalidRequestError: Table 'Price' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [2]:
df=pd.read_json("files/raw_data.json")

In [3]:
df1=df.T

In [11]:
df1

,Date,Area_Code,Total_Condo_Sold_Number,Avg_Price,Med_Price,Prime_Rate,Inflation,GDP,Metal_Price,NASDAQ,Ontario_Immigrants_International,Toronto_Median_Age,UT_Total_Enrollment,Toronto_Participation_Rate,Toronto_Employment_Rate,Toronto_Population,New_Units_Number_Planned,New_Units_Number_Construction
0,2001-01-01,E02,5.0,214180.0,229000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
1,2001-01-01,W09,15.0,108467.0,93000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
2,2001-01-01,W08,18.0,218839.0,150000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
3,2001-01-01,W07,1.0,179500.0,179500.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
4,2001-01-01,W06,15.0,224660.0,190000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8773,2021-04-01,W07,4.0,827000.0,847500.0,2.45,0.7,46006.79326,683.0225,13889.21294,17281.0,40.4,83970.0,64.7,58.4,6555205.0,3986.0,2271.0
8774,2021-04-01,W08,113.0,639655.0,600000.0,2.45,0.7,46006.79326,683.0225,13889.21294,17281.0,40.4,83970.0,64.7,58.4,6555205.0,3986.0,2271.0
8775,2021-04-01,W02,31.0,720145.0,671000.0,2.45,0.7,46006.79326,683.0225,13889.21294,17281.0,40.4,83970.0,64.7,58.4,6555205.0,3986.0,2271.0
8776,2021-04-01,W03,12.0,593675.0,580000.0,2.45,0.7,46006.79326,683.0225,13889.21294,17281.0,40.4,83970.0,64.7,58.4,6555205.0,3986.0,2271.0
8777,2021-04-01,All,2277.0,727137.343,NA,2.45,0.7,46006.79326,683.0225,13889.21294,17281.0,40.4,83970.0,64.7,58.4,6555205.0,3986.0,2271.0

In [15]:
df1['Date']=df1['Date'].astype('datetime64')

In [16]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8778 entries, 0 to 8777
Data columns (total 18 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Date                              8778 non-null   datetime64[ns]
 1   Area_Code                         8778 non-null   object
 2   Total_Condo_Sold_Number           8778 non-null   object
 3   Avg_Price                         8778 non-null   object
 4   Med_Price                         8778 non-null   object
 5   Prime_Rate                        8778 non-null   object
 6   Inflation                         8778 non-null   object
 7   GDP                               8778 non-null   object
 8   Metal_Price                       8778 non-null   object
 9   NASDAQ                            8778 non-null   object
 10  Ontario_Immigrants_International  8778 non-null   object
 11  Toronto_Median_Age                8778 non-null   object
 12  UT_Total_Enrollment               8778 non-null   object
 13  Toronto_Participation_Rate        8778 non-null   object
 14  Toronto_Employment_Rate           8778 non-null   object
 15  Toronto_Population                8778 non-null   object
 16  New_Units_Number_Planned          8778 non-null   object
 17  New_Units_Number_Construction     8778 non-null   object
dtypes: datetime64[ns](1), object(17)
memory usage: 1.5+ MB