In [1]:
import pandas as pd
import sqlalchemy
import datetime

In [2]:
from sqlalchemy import create_engine

from sqlalchemy.orm import declarative_base,Session
from sqlalchemy import Column, Integer, String,Float,DateTime,ForeignKey

In [3]:
username=input("username")
password=input("password")
ip_address="aws-mysql-ssaca.cssuvkukhmkq.us-east-2.rds.amazonaws.com"
port_id="3306"
database_name="test_database"

In [4]:
engine = create_engine(f'mysql+pymysql://{username}:{password}@{ip_address}:{port_id}/{database_name}')
connection=engine.connect()

In [5]:
Base = declarative_base()

In [6]:
class Date(Base):
    __tablename__='Date'

    Date_id=Column(Integer,autoincrement=True,primary_key=True)
    Date=Column(DateTime)
    Inflation=Column(Float)
    GDP=Column(Float)
    Metal_Price=Column(Float)
    NASDAQ=Column(Float)

In [7]:
class Price(Base):
    __tablename__='Price'
    id=Column(Integer,autoincrement=True,primary_key=True)
    Date_id=Column(Integer,ForeignKey('Date.Date_id'))
    Area_Code=Column(String)
    Total_Condo_Sold_Number=Column(Integer)
    Avg_Price=Column(Float)
    Med_Price=Column(Integer)

In [8]:
class Toronto(Base):
    __tablename__='Toronto'
    id=Column(Integer,autoincrement=True,primary_key=True)
    Date_id=Column(Integer,ForeignKey('Date.Date_id'))
    Prime_Rate=Column(Float)
    Median_Age=Column(Float)
    Participation_Rate=Column(Float)
    Employment_Rate=Column(Float)
    Population=Column(Float)
    UT_Total_Enrollment=Column(Integer)

In [9]:
class New(Base):
    __tablename__='New'
    id=Column(Integer,autoincrement=True,primary_key=True)
    Date_id=Column(Integer,ForeignKey('Date.Date_id'))
    Units_Number_Planned=Column(Integer)
    Units_Number_Construction=Column(Integer)

In [10]:
class All(Base):
    __tablename__='All'
    id=Column(Integer,autoincrement=True,primary_key=True)
    Date_id=Column(Integer,ForeignKey('Date.Date_id'))
    Condo_Sold_Number=Column(Integer)
    Avg_Price=Column(Float)

In [11]:
class Ontario(Base):
    __tablename__='Ontario'
    id=Column(Integer,autoincrement=True,primary_key=True)
    Date_id=Column(Integer,ForeignKey('Date.Date_id'))
    Immigrants_International=Column(Float)

In [12]:
df=pd.read_json("files/raw_data.json")

In [13]:
df1=df.T

In [14]:
df1

,Date,Area_Code,Total_Condo_Sold_Number,Avg_Price,Med_Price,Prime_Rate,Inflation,GDP,Metal_Price,NASDAQ,Ontario_Immigrants_International,Toronto_Median_Age,UT_Total_Enrollment,Toronto_Participation_Rate,Toronto_Employment_Rate,Toronto_Population,New_Units_Number_Planned,New_Units_Number_Construction
0,2001-01-01,E02,5.0,214180.0,229000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
1,2001-01-01,W09,15.0,108467.0,93000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
2,2001-01-01,W08,18.0,218839.0,150000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
3,2001-01-01,W07,1.0,179500.0,179500.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
4,2001-01-01,W06,15.0,224660.0,190000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8773,2021-04-01,W07,4.0,827000.0,847500.0,2.45,0.7,46006.79326,683.0225,13889.21294,17281.0,40.4,83970.0,64.7,58.4,6555205.0,3986.0,2271.0
8774,2021-04-01,W08,113.0,639655.0,600000.0,2.45,0.7,46006.79326,683.0225,13889.21294,17281.0,40.4,83970.0,64.7,58.4,6555205.0,3986.0,2271.0
8775,2021-04-01,W02,31.0,720145.0,671000.0,2.45,0.7,46006.79326,683.0225,13889.21294,17281.0,40.4,83970.0,64.7,58.4,6555205.0,3986.0,2271.0
8776,2021-04-01,W03,12.0,593675.0,580000.0,2.45,0.7,46006.79326,683.0225,13889.21294,17281.0,40.4,83970.0,64.7,58.4,6555205.0,3986.0,2271.0
8777,2021-04-01,All,2277.0,727137.343,NA,2.45,0.7,46006.79326,683.0225,13889.21294,17281.0,40.4,83970.0,64.7,58.4,6555205.0,3986.0,2271.0

In [15]:
df1['Date']=df1['Date'].astype('datetime64')

In [16]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8778 entries, 0 to 8777
Data columns (total 18 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Date                              8778 non-null   datetime64[ns]
 1   Area_Code                         8778 non-null   object
 2   Total_Condo_Sold_Number           8778 non-null   object
 3   Avg_Price                         8778 non-null   object
 4   Med_Price                         8778 non-null   object
 5   Prime_Rate                        8778 non-null   object
 6   Inflation                         8778 non-null   object
 7   GDP                               8778 non-null   object
 8   Metal_Price                       8778 non-null   object
 9   NASDAQ                            8778 non-null   object
 10  Ontario_Immigrants_International  8778 non-null   object
 11  Toronto_Median_Age                8778 non-null   object
 12  UT_Total_Enrollment               8778 non-null   object
 13  Toronto_Participation_Rate        8778 non-null   object
 14  Toronto_Employment_Rate           8778 non-null   object
 15  Toronto_Population                8778 non-null   object
 16  New_Units_Number_Planned          8778 non-null   object
 17  New_Units_Number_Construction     8778 non-null   object
dtypes: datetime64[ns](1), object(17)
memory usage: 1.5+ MB

In [17]:
session = Session(engine)

In [18]:
datelist=df1['Date'].unique()

In [19]:
df1_date=df1[df1['Date']==datelist[0]]
df1_date

,Date,Area_Code,Total_Condo_Sold_Number,Avg_Price,Med_Price,Prime_Rate,Inflation,GDP,Metal_Price,NASDAQ,Ontario_Immigrants_International,Toronto_Median_Age,UT_Total_Enrollment,Toronto_Participation_Rate,Toronto_Employment_Rate,Toronto_Population,New_Units_Number_Planned,New_Units_Number_Construction
0,2001-01-01,E02,5.0,214180.0,229000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
1,2001-01-01,W09,15.0,108467.0,93000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
2,2001-01-01,W08,18.0,218839.0,150000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
3,2001-01-01,W07,1.0,179500.0,179500.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
4,2001-01-01,W06,15.0,224660.0,190000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
5,2001-01-01,E06,0.0,0.0,0.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
6,2001-01-01,W05,17.0,107088.0,117000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
7,2001-01-01,W03,4.0,126625.0,116500.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
8,2001-01-01,W01,4.0,188875.0,188250.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
9,2001-01-01,E11,24.0,115948.0,117450.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
10,2001-01-01,E10,3.0,119300.0,124000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
11,2001-01-01,E09,28.0,155529.0,155950.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
12,2001-01-01,E08,18.0,142147.0,131500.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
13,2001-01-01,W04,17.0,111253.0,116500.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
14,2001-01-01,C01,63.0,274706.0,200000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
15,2001-01-01,E03,23.0,134693.0,127000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
16,2001-01-01,W10,25.0,118380.0,120000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
17,2001-01-01,C02,8.0,339563.0,249000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
18,2001-01-01,All,528.0,185757.6686,NA,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
19,2001-01-01,W02,0.0,0.0,0.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
20,2001-01-01,E01,2.0,144950.0,144950.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
21,2001-01-01,C15,21.0,198100.0,153900.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
22,2001-01-01,C14,39.0,218062.0,212000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
23,2001-01-01,C13,11.0,172909.0,160000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
24,2001-01-01,C12,0.0,0.0,0.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
25,2001-01-01,C03,1.0,435718.0,435718.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
26,2001-01-01,C10,9.0,243633.0,215000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
27,2001-01-01,E07,16.0,159788.0,157750.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
28,2001-01-01,C08,49.0,217583.0,194000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
29,2001-01-01,C07,17.0,201600.0,196000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
30,2001-01-01,C06,1.0,168000.0,168000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
31,2001-01-01,C04,9.0,248444.0,196000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
32,2001-01-01,E04,23.0,124935.0,123000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
33,2001-01-01,C11,12.0,128800.0,117350.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
34,2001-01-01,E05,27.0,172778.0,169000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
35,2001-01-01,C09,3.0,389000.0,400000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0

In [20]:
date1=Date(
    Date=datelist[0],
    Inflation=df1_date['Inflation'][0],
    GDP=df1_date['GDP'][0],
    Metal_Price=df1_date['Metal_Price'][0],
    NASDAQ=df1_date['NASDAQ'][0],
)
session.add(date1)
session.commit()

In [21]:
new1=New(
    Date_id=date1.Date_id,
    Units_Number_Planned=df1_date['New_Units_Number_Planned'][0],
    Units_Number_Construction=df1_date['New_Units_Number_Construction'][0],
)
session.add(new1)

In [22]:
Toronto1=Toronto(
    Date_id=date1.Date_id,
    Prime_Rate=df1_date['Toronto_Participation_Rate'][0],
    Median_Age=df1_date['Toronto_Median_Age'][0],
    Participation_Rate=df1_date['Toronto_Participation_Rate'][0],
    Employment_Rate=df1_date['Toronto_Employment_Rate'][0],
    Population=df1_date['Toronto_Population'][0],
    UT_Total_Enrollment=df1_date['UT_Total_Enrollment'][0],
)
session.add(Toronto1)

In [23]:
ontario1=Ontario(
    Date_id=date1.Date_id,
    Immigrants_International=df1_date['Ontario_Immigrants_International'][0]
)
session.add(ontario1)

In [24]:
df1_date[df1_date['Area_Code']=='All']

,Date,Area_Code,Total_Condo_Sold_Number,Avg_Price,Med_Price,Prime_Rate,Inflation,GDP,Metal_Price,NASDAQ,Ontario_Immigrants_International,Toronto_Median_Age,UT_Total_Enrollment,Toronto_Participation_Rate,Toronto_Employment_Rate,Toronto_Population,New_Units_Number_Planned,New_Units_Number_Construction
18,2001-01-01,All,528.0,185757.6686,NA,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0

In [25]:
all1=All(
    Date_id=date1.Date_id,
    Condo_Sold_Number=df1_date[df1_date['Area_Code']=='All']['Total_Condo_Sold_Number'].tolist()[0],
    Avg_Price=df1_date[df1_date['Area_Code']=='All']['Avg_Price'].tolist()[0],
)
session.add(all1)

In [26]:

df1_date[df1_date['Area_Code']=='All']['Total_Condo_Sold_Number'].tolist()[0]

528.0

In [27]:
for i in range(df1_date.shape[0]):
    price1=Price(
        Date_id=date1.Date_id,
        Area_Code=df1_date.iloc[i]['Area_Code'],
        Total_Condo_Sold_Number=df1_date.iloc[i]['Total_Condo_Sold_Number'],
        Avg_Price=df1_date.iloc[i]['Avg_Price'],
        Med_Price=df1_date.iloc[i]['Med_Price'],
    )
    session.add(price1)

In [45]:
session.commit()

Timestamp('2001-01-01 00:00:00')

In [39]:
df1_date['Ontario_Immigrants_International']#[0]

0     34801.0
1     34801.0
2     34801.0
3     34801.0
4     34801.0
5     34801.0
6     34801.0
7     34801.0
8     34801.0
9     34801.0
10    34801.0
11    34801.0
12    34801.0
13    34801.0
14    34801.0
15    34801.0
16    34801.0
17    34801.0
18    34801.0
19    34801.0
20    34801.0
21    34801.0
22    34801.0
23    34801.0
24    34801.0
25    34801.0
26    34801.0
27    34801.0
28    34801.0
29    34801.0
30    34801.0
31    34801.0
32    34801.0
33    34801.0
34    34801.0
35    34801.0
Name: Ontario_Immigrants_International, dtype: object

In [25]:
date1.Date_id

2