In [36]:
import json
import pandas as pd

In [37]:
with open('files/raw_data.json') as f:
  data = json.load(f)

In [38]:
# print(data)

In [39]:
# for i in data:
#   print(data[i])

In [40]:
df=pd.read_json("files/raw_data.json")

In [41]:
df1=df.T

In [42]:
df1

,Date,Area_Code,Total_Condo_Sold_Number,Avg_Price,Med_Price,Prime_Rate,Inflation,GDP,Metal_Price,NASDAQ,Ontario_Immigrants_International,Toronto_Median_Age,UT_Total_Enrollment,Toronto_Participation_Rate,Toronto_Employment_Rate,Toronto_Population,New_Units_Number_Planned,New_Units_Number_Construction
0,2001-01-01,E02,5.0,214180.0,229000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
1,2001-01-01,W09,15.0,108467.0,93000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
2,2001-01-01,W08,18.0,218839.0,150000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
3,2001-01-01,W07,1.0,179500.0,179500.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
4,2001-01-01,W06,15.0,224660.0,190000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8773,2021-04-01,W07,4.0,827000.0,847500.0,2.45,0.7,46006.79326,683.0225,13889.21294,17281.0,40.4,83970.0,64.7,58.4,6555205.0,3986.0,2271.0
8774,2021-04-01,W08,113.0,639655.0,600000.0,2.45,0.7,46006.79326,683.0225,13889.21294,17281.0,40.4,83970.0,64.7,58.4,6555205.0,3986.0,2271.0
8775,2021-04-01,W02,31.0,720145.0,671000.0,2.45,0.7,46006.79326,683.0225,13889.21294,17281.0,40.4,83970.0,64.7,58.4,6555205.0,3986.0,2271.0
8776,2021-04-01,W03,12.0,593675.0,580000.0,2.45,0.7,46006.79326,683.0225,13889.21294,17281.0,40.4,83970.0,64.7,58.4,6555205.0,3986.0,2271.0
8777,2021-04-01,All,2277.0,727137.343,NA,2.45,0.7,46006.79326,683.0225,13889.21294,17281.0,40.4,83970.0,64.7,58.4,6555205.0,3986.0,2271.0

In [43]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8778 entries, 0 to 8777
Data columns (total 18 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Date                              8778 non-null   object
 1   Area_Code                         8778 non-null   object
 2   Total_Condo_Sold_Number           8778 non-null   object
 3   Avg_Price                         8778 non-null   object
 4   Med_Price                         8778 non-null   object
 5   Prime_Rate                        8778 non-null   object
 6   Inflation                         8778 non-null   object
 7   GDP                               8778 non-null   object
 8   Metal_Price                       8778 non-null   object
 9   NASDAQ                            8778 non-null   object
 10  Ontario_Immigrants_International  8778 non-null   object
 11  Toronto_Median_Age                8778 non-null   object
 12  UT_Total_Enrollment               8778 non-null   object
 13  Toronto_Participation_Rate        8778 non-null   object
 14  Toronto_Employment_Rate           8778 non-null   object
 15  Toronto_Population                8778 non-null   object
 16  New_Units_Number_Planned          8778 non-null   object
 17  New_Units_Number_Construction     8778 non-null   object
dtypes: object(18)
memory usage: 1.5+ MB

In [44]:
df1.describe()

,Date,Area_Code,Total_Condo_Sold_Number,Avg_Price,Med_Price,Prime_Rate,Inflation,GDP,Metal_Price,NASDAQ,Ontario_Immigrants_International,Toronto_Median_Age,UT_Total_Enrollment,Toronto_Participation_Rate,Toronto_Employment_Rate,Toronto_Population,New_Units_Number_Planned,New_Units_Number_Construction
count,8778,8778,8778.0,8778.0,8778,8778.0,8778.0,8778.00000,8778.0000,8778.000000,8778.0,8778.0,8778.0,8778.0,8778.0,8778.0,8778.0,8778.0
unique,244,36,570.0,8465.0,2662,63.0,188.0,244.00000,244.0000,244.000000,238.0,226.0,21.0,60.0,63.0,229.0,231.0,239.0
top,2004-02-01,C04,3.0,0.0,NA,3.0,0.7,34819.83421,671.0775,2052.735769,17281.0,40.4,57887.0,68.1,64.0,6555205.0,1207.0,1273.0
freq,36,244,265.0,55.0,244,1866.0,287.0,36.00000,36.0000,36.000000,252.0,576.0,432.0,432.0,360.0,576.0,108.0,108.0

In [45]:
df1[df1['Area_Code']=="All"]

,Date,Area_Code,Total_Condo_Sold_Number,Avg_Price,Med_Price,Prime_Rate,Inflation,GDP,Metal_Price,NASDAQ,Ontario_Immigrants_International,Toronto_Median_Age,UT_Total_Enrollment,Toronto_Participation_Rate,Toronto_Employment_Rate,Toronto_Population,New_Units_Number_Planned,New_Units_Number_Construction
18,2001-01-01,All,528.0,185757.6686,NA,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
49,2001-02-01,All,732.0,189990.7036,NA,7.25,3.274302,33414.60595,258.25,2474.819966,37662.09142,36.820147,45261.0,68.6,64.2,4894687.054,946.0,227.0
88,2001-03-01,All,925.0,191476.2205,NA,6.75,3.523191,33421.15412,250.7975,1999.363187,39796.62476,36.839195,45261.0,69.0,64.7,4905287.46,1015.0,387.0
121,2001-04-01,All,836.0,189802.6914,NA,6.625,3.6,33411.95797,247.6,1929.581512,41662.0,36.861226,45261.0,69.2,65.0,4916690.735,1503.0,1151.0
156,2001-05-01,All,958.0,191658.3372,NA,6.45,3.475476,33549.86515,254.802,2178.740467,42969.07156,36.883489,45261.0,69.6,65.4,4927393.091,1810.0,175.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8598,2020-12-01,All,1551.0,625828.1154,NA,2.45,0.7,45143.29965,669.806,12605.30953,17281.0,40.4,82311.0,67.0,59.7,6555205.0,2876.0,1903.0
8655,2021-01-01,All,1703.0,624885.623,NA,2.45,0.7,45461.59117,676.49,13195.8142,17281.0,40.4,83970.0,66.7,59.7,6555205.0,4063.0,1018.0
8689,2021-02-01,All,2167.0,676837.4998,NA,2.45,0.7,45606.79326,678.01,13733.60573,17281.0,40.4,83970.0,65.8,58.8,6555205.0,2783.0,3929.0
8707,2021-03-01,All,2614.0,707835.1083,NA,2.45,0.7,45806.79326,672.154,13190.96179,17281.0,40.4,83970.0,65.1,58.4,6555205.0,4993.0,5342.0
8777,2021-04-01,All,2277.0,727137.343,NA,2.45,0.7,46006.79326,683.0225,13889.21294,17281.0,40.4,83970.0,64.7,58.4,6555205.0,3986.0,2271.0

In [46]:
df1[:18]

,Date,Area_Code,Total_Condo_Sold_Number,Avg_Price,Med_Price,Prime_Rate,Inflation,GDP,Metal_Price,NASDAQ,Ontario_Immigrants_International,Toronto_Median_Age,UT_Total_Enrollment,Toronto_Participation_Rate,Toronto_Employment_Rate,Toronto_Population,New_Units_Number_Planned,New_Units_Number_Construction
0,2001-01-01,E02,5.0,214180.0,229000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
1,2001-01-01,W09,15.0,108467.0,93000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
2,2001-01-01,W08,18.0,218839.0,150000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
3,2001-01-01,W07,1.0,179500.0,179500.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
4,2001-01-01,W06,15.0,224660.0,190000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
5,2001-01-01,E06,0.0,0.0,0.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
6,2001-01-01,W05,17.0,107088.0,117000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
7,2001-01-01,W03,4.0,126625.0,116500.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
8,2001-01-01,W01,4.0,188875.0,188250.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
9,2001-01-01,E11,24.0,115948.0,117450.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
10,2001-01-01,E10,3.0,119300.0,124000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
11,2001-01-01,E09,28.0,155529.0,155950.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
12,2001-01-01,E08,18.0,142147.0,131500.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
13,2001-01-01,W04,17.0,111253.0,116500.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
14,2001-01-01,C01,63.0,274706.0,200000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
15,2001-01-01,E03,23.0,134693.0,127000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
16,2001-01-01,W10,25.0,118380.0,120000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
17,2001-01-01,C02,8.0,339563.0,249000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0

In [47]:
df1[:18].sum()

Date                                2001-01-012001-01-012001-01-012001-01-012001-0...
Area_Code                           E02W09W08W07W06E06W05W03W01E11E10E09E08W04C01E...
Total_Condo_Sold_Number                                                         288.0
Avg_Price                                                                   2879753.0
Med_Price                                                                   2604650.0
Prime_Rate                                                                      133.2
Inflation                                                                        50.4
GDP                                                                      601090.39224
Metal_Price                                                                  4719.276
NASDAQ                                                                   47550.368934
Ontario_Immigrants_International                                             626418.0
Toronto_Median_Age                                                              662.4
UT_Total_Enrollment                                                          814698.0
Toronto_Participation_Rate                                                     1234.8
Toronto_Employment_Rate                                                        1170.0
Toronto_Population                                                         87887124.0
New_Units_Number_Planned                                                      26226.0
New_Units_Number_Construction                                                  9198.0
dtype: object

In [48]:
df1[:18].mean()

Total_Condo_Sold_Number             1.600000e+01
Avg_Price                           1.599863e+05
Med_Price                           1.447028e+05
Prime_Rate                          7.400000e+00
Inflation                           2.800000e+00
GDP                                 3.339391e+04
Metal_Price                         2.621820e+02
NASDAQ                              2.641687e+03
Ontario_Immigrants_International    3.480100e+04
Toronto_Median_Age                  3.680000e+01
UT_Total_Enrollment                 4.526100e+04
Toronto_Participation_Rate          6.860000e+01
Toronto_Employment_Rate             6.500000e+01
Toronto_Population                  4.882618e+06
New_Units_Number_Planned            1.457000e+03
New_Units_Number_Construction       5.110000e+02
dtype: float64

In [49]:
df[18]

Date                                 2001-01-01
Area_Code                                   All
Total_Condo_Sold_Number                   528.0
Avg_Price                           185757.6686
Med_Price                                    NA
Prime_Rate                                  7.4
Inflation                                   2.8
GDP                                 33393.91068
Metal_Price                             262.182
NASDAQ                              2641.687163
Ontario_Immigrants_International        34801.0
Toronto_Median_Age                         36.8
UT_Total_Enrollment                     45261.0
Toronto_Participation_Rate                 68.6
Toronto_Employment_Rate                    65.0
Toronto_Population                    4882618.0
New_Units_Number_Planned                 1457.0
New_Units_Number_Construction             511.0
Name: 18, dtype: object

In [50]:
Area_Code_list=df1['Area_Code'].unique()

In [51]:
len(Area_Code_list)

36

In [52]:
df1.shape

(8778, 18)

In [53]:
df1.shape[0]/len(Area_Code_list)

243.83333333333334

In [54]:
ac_times=[]

In [55]:
for i in Area_Code_list:
  print(f"{i}: {df1[df1['Area_Code'] == i].shape[0]}")
  ac_times.append(df1[df1['Area_Code'] == i].shape[0])

E02: 244
W09: 244
W08: 244
W07: 244
W06: 244
E06: 244
W05: 244
W03: 244
W01: 244
E11: 239
E10: 243
E09: 244
E08: 244
W04: 244
C01: 244
E03: 244
W10: 244
C02: 244
All: 244
W02: 244
E01: 244
C15: 244
C14: 244
C13: 244
C12: 244
C03: 244
C10: 244
E07: 244
C08: 244
C07: 244
C06: 244
C04: 244
E04: 244
C11: 244
E05: 244
C09: 244

In [56]:
ac_times

[244,
 244,
 244,
 244,
 244,
 244,
 244,
 244,
 244,
 239,
 243,
 244,
 244,
 244,
 244,
 244,
 244,
 244,
 244,
 244,
 244,
 244,
 244,
 244,
 244,
 244,
 244,
 244,
 244,
 244,
 244,
 244,
 244,
 244,
 244,
 244]

In [57]:
max(ac_times)

244

In [58]:
min(ac_times)

239

In [59]:
for index,item in enumerate(ac_times):
  if item!=244:
    print(Area_Code_list[index],item)

E11 239
E10 243

In [60]:

df1.columns

Index(['Date', 'Area_Code', 'Total_Condo_Sold_Number', 'Avg_Price',
       'Med_Price', 'Prime_Rate', 'Inflation', 'GDP', 'Metal_Price', 'NASDAQ',
       'Ontario_Immigrants_International', 'Toronto_Median_Age',
       'UT_Total_Enrollment', 'Toronto_Participation_Rate',
       'Toronto_Employment_Rate', 'Toronto_Population',
       'New_Units_Number_Planned', 'New_Units_Number_Construction'],
      dtype='object')

In [61]:
df1[34:38]

,Date,Area_Code,Total_Condo_Sold_Number,Avg_Price,Med_Price,Prime_Rate,Inflation,GDP,Metal_Price,NASDAQ,Ontario_Immigrants_International,Toronto_Median_Age,UT_Total_Enrollment,Toronto_Participation_Rate,Toronto_Employment_Rate,Toronto_Population,New_Units_Number_Planned,New_Units_Number_Construction
34,2001-01-01,E05,27.0,172778.0,169000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
35,2001-01-01,C09,3.0,389000.0,400000.0,7.4,2.8,33393.91068,262.182,2641.687163,34801.0,36.8,45261.0,68.6,65.0,4882618.0,1457.0,511.0
36,2001-02-01,C04,18.0,300388.0,207500.0,7.25,3.274302,33414.60595,258.25,2474.819966,37662.09142,36.820147,45261.0,68.6,64.2,4894687.054,946.0,227.0
37,2001-02-01,C06,2.0,181950.0,181950.0,7.25,3.274302,33414.60595,258.25,2474.819966,37662.09142,36.820147,45261.0,68.6,64.2,4894687.054,946.0,227.0

In [62]:
df1.to_csv("df1.csv")

In [63]:
for i in df1.columns:
  print(f"{i}: {len(df1[i].unique())}")# 只有UT那个是跟年有关的，其他都不是，就不分开搞了

Date: 244
Area_Code: 36
Total_Condo_Sold_Number: 570
Avg_Price: 8465
Med_Price: 2662
Prime_Rate: 63
Inflation: 188
GDP: 244
Metal_Price: 244
NASDAQ: 244
Ontario_Immigrants_International: 238
Toronto_Median_Age: 226
UT_Total_Enrollment: 21
Toronto_Participation_Rate: 60
Toronto_Employment_Rate: 63
Toronto_Population: 229
New_Units_Number_Planned: 231
New_Units_Number_Construction: 239

In [64]:
df1.shape

(8778, 18)

In [65]:
for i in df1['Date'].unique():
  print(i)

2001-01-01
2001-02-01
2001-03-01
2001-04-01
2001-05-01
2001-06-01
2001-07-01
2001-08-01
2001-09-01
2001-10-01
2001-11-01
2001-12-01
2002-01-01
2002-02-01
2002-03-01
2002-04-01
2002-05-01
2002-06-01
2002-07-01
2002-08-01
2002-09-01
2002-10-01
2002-11-01
2002-12-01
2003-01-01
2003-02-01
2003-03-01
2003-04-01
2003-05-01
2003-06-01
2003-07-01
2003-08-01
2003-09-01
2003-10-01
2003-11-01
2003-12-01
2004-01-01
2004-02-01
2004-03-01
2004-04-01
2004-05-01
2004-06-01
2004-07-01
2004-08-01
2004-09-01
2004-10-01
2004-11-01
2004-12-01
2005-01-01
2005-02-01
2005-03-01
2005-04-01
2005-05-01
2005-06-01
2005-07-01
2005-08-01
2005-09-01
2005-10-01
2005-11-01
2005-12-01
2006-01-01
2006-02-01
2006-03-01
2006-04-01
2006-05-01
2006-06-01
2006-07-01
2006-08-01
2006-09-01
2006-10-01
2006-11-01
2006-12-01
2007-01-01
2007-02-01
2007-03-01
2007-04-01
2007-05-01
2007-06-01
2007-07-01
2007-08-01
2007-09-01
2007-10-01
2007-11-01
2007-12-01
2008-01-01
2008-02-01
2008-03-01
2008-04-01
2008-05-01
2008-06-01
2008-07-01
2008-08-01
2008-09-01
2008-10-01
2008-11-01
2008-12-01
2009-01-01
2009-02-01
2009-03-01
2009-04-01
2009-05-01
2009-06-01
2009-07-01
2009-08-01
2009-09-01
2009-10-01
2009-11-01
2009-12-01
2010-01-01
2010-02-01
2010-03-01
2010-04-01
2010-05-01
2010-06-01
2010-07-01
2010-08-01
2010-09-01
2010-10-01
2010-11-01
2010-12-01
2011-01-01
2011-02-01
2011-03-01
2011-04-01
2011-05-01
2011-06-01
2011-07-01
2011-08-01
2011-09-01
2011-10-01
2011-11-01
2011-12-01
2012-01-01
2012-02-01
2012-03-01
2012-04-01
2012-05-01
2012-06-01
2012-07-01
2012-08-01
2012-09-01
2012-10-01
2012-11-01
2012-12-01
2013-01-01
2013-02-01
2013-03-01
2013-04-01
2013-05-01
2013-06-01
2013-07-01
2013-08-01
2013-09-01
2013-10-01
2013-11-01
2013-12-01
2014-01-01
2014-02-01
2014-03-01
2014-04-01
2014-05-01
2014-06-01
2014-07-01
2014-08-01
2014-09-01
2014-10-01
2014-11-01
2014-12-01
2015-01-01
2015-02-01
2015-03-01
2015-04-01
2015-05-01
2015-06-01
2015-07-01
2015-08-01
2015-09-01
2015-10-01
2015-11-01
2015-12-01
2016-01-01
2016-02-01
2016-03-01
2016-04-01
2016-05-01
2016-06-01
2016-07-01
2016-08-01
2016-09-01
2016-10-01
2016-11-01
2016-12-01
2017-01-01
2017-02-01
2017-03-01
2017-04-01
2017-05-01
2017-06-01
2017-07-01
2017-08-01
2017-09-01
2017-10-01
2017-11-01
2017-12-01
2018-01-01
2018-02-01
2018-03-01
2018-04-01
2018-05-01
2018-06-01
2018-07-01
2018-08-01
2018-09-01
2018-10-01
2018-11-01
2018-12-01
2019-01-01
2019-02-01
2019-03-01
2019-04-01
2019-05-01
2019-06-01
2019-07-01
2019-08-01
2019-09-01
2019-10-01
2019-11-01
2019-12-01
2020-01-01
2020-02-01
2020-03-01
2020-04-01
2020-05-01
2020-06-01
2020-07-01
2020-08-01
2020-09-01
2020-10-01
2020-11-01
2020-12-01
2021-01-01
2021-02-01
2021-03-01
2021-04-01

In [66]:
datelist=df1['Date'].unique()